<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sqzn.tea">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".UI.MainActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".UI.CookBookActivity"></activity>
        <activity
            android:name=".UI.CookBookWebView"
            android:configChanges="screenSize"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".UI.MenuActivity"></activity>

    </application>
</manifest>
